* {
  margin: 0;
  padding: 0;
  line-height: 1.5em;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}
body {
  font: 16px "Merriweather Sans", 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #333333;
  border-top: solid 2px;
  border-color: #1a6996;
  width: 100%;
  -webkit-transition: margin-left 0.2s ease-in-out;
  -moz-transition: margin-left 0.2s ease-in-out;
  -o-transition: margin-left 0.2s ease-in-out;
  transition: margin-left 0.2s ease-in-out;
}
body.pushed-left {
  margin-left: -200px;
}
noscript {
  display: block;
  padding: 20px;
  margin-bottom: 80px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
  background-color: #1a6996;
}
:-moz-placeholder,
:-ms-input-placeholder {
  color: #f1f1f1;
}
::selection,
::-moz-selection {
  color: #ffffff;
  background-color: #1a6996;
}
.cf-top {
  margin-top: 0;
}
.cf-btm {
  margin-bottom: 0;
}
.c-top {
  margin-top: 40px;
}
.mobile-only {
  display: none !important;
}
/* GENERAL */
body div.container {
  width: 860px;
  margin: 40px auto 40px auto;
  overflow: hidden;
}
section,
footer {
  overflow: hidden;
}
header {
  margin-bottom: 25px;
}
header a,
footer a {
  color: #333333;
  border: none;
}
header a:hover,
footer a:hover {
  color: #1a6996;
}
/* TYPOGRAPHY */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto';
  font-weight: 300;
  line-height: 1.2em;
  margin-bottom: 15px;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-size: 16px;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.7em;
}
h2.h4 {
  font-size: 1.3em;
}
h3 {
  font-size: 1.4em;
}
h3.h5 {
  font-size: 1.1em;
}
h4 {
  font-size: 1.3em;
}
h5 {
  font-size: 1.25em;
}
h6 {
  font-size: 1.1em;
}
h6.small {
  font-size: 1em;
}
p {
  margin-bottom: 25px;
  overflow: hidden;
}
p.small {
  font-size: 0.9em;
}
a {
  color: #1a6996;
  text-decoration: none;
  border-bottom: solid 2px #ffffff;
}
a:hover {
  border-color: #1a6996;
}
a.btn {
  font-size: 0.9em;
  line-height: 1em;
  color: #1a6996;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
}
a.btn span.ss-icon {
  font-size: 1.25em;
  display: inline-block;
  position: relative;
  top: 4px;
  margin-right: 15px;
}
strong {
  font-weight: 300;
}
small {
  font-size: 0.9em;
}
div.img-wrapper {
  width: 100%;
  max-height: 400px;
  overflow: hidden;
  margin-bottom: 25px;
  border-radius: 0px;
}
div.img-wrapper img {
  margin-bottom: 0;
}
img {
  width: 100%;
  height: auto;
  border-radius: 0px;
  margin-bottom: 25px;
}
pre,
blockquote {
  font-size: 16px;
}
pre,
blockquote,
code,
iframe {
  margin-bottom: 25px !important;
}
code,
pre {
  font-family: 'Inconsolata';
  border-radius: 0px;
}
pre {
  background: #f1f1f1;
  color: #333333;
  border-left: solid 2px #1a6996;
  overflow: scroll;
}
code {
  color: #1a6996;
}
pre {
  font-size: 0.9em;
  padding: 20px;
  line-height: 16px;
}
pre code {
  font-size: 0.9em;
  line-height: 0;
}
blockquote {
  font-style: italic;
  border-left: solid 2px;
  border-color: #1a6996;
  padding-left: 40px;
}
ul {
  width: 100%;
  margin: 25px 0 25px 25px;
}
ul li {
  margin-bottom: 15px;
  line-height: 1em;
  list-style-type: square;
}
ul li:last-child {
  margin-bottom: 0;
}
ul.usp {
  margin-left: 0;
}
ul.usp li {
  margin-bottom: 25px;
  list-style-type: none;
}
ul.usp li:last-child {
  margin-bottom: 0;
}
ul.usp li span.ss-icon {
  height: 2em;
  display: inline-block;
  position: relative;
  top: 2px;
  margin-right: 15px;
  color: #1a6996;
}
ul.usp li p {
  margin-left: 33px;
  margin-bottom: 0;
}
ul.nav {
  margin-left: 0;
}
ul.nav a {
  margin-bottom: 15px;
  display: block;
  color: #333333;
  border: none;
}
ul.nav a li {
  margin-left: 15px;
  list-style-type: none;
  opacity: .6;
  cursor: pointer;
}
ul.nav a li:hover {
  opacity: .8;
}
ul.nav a li.active {
  opacity: 1;
}
ul.nav h3,
ul.nav ul {
  margin-left: 15px;
}
ul.inline {
  margin: 0;
  padding: 0;
}
ul.inline a {
  border-bottom: none;
  padding: 0;
}
ul.inline a:last-child li {
  margin-right: 0;
}
ul.inline li {
  display: inline-block;
  margin-right: 25px;
}
ul.inline.after > li {
  margin: 0;
}
ul.inline.after > li:after {
  content: '\2022';
  margin-right: 15px;
  margin-left: 15px;
}
ul.inline.after > li:last-child:after {
  content: '';
  margin-right: 0;
  margin-left: 0;
}
ol {
  margin: 25px 0 25px 25px;
}
ul.small,
ol.small {
  font-size: 0.9em;
}
.column {
  width: 100%;
  float: left;
  overflow: hidden;
  margin-right: 5%;
}
.column.half {
  width: 48%;
}
.column.one-fourth {
  width: 22%;
}
.column.three-fourth {
  width: 73%;
}
.column.cf {
  margin-right: 0;
}
.column.center {
  text-align: center;
}
.column.auto-width {
  width: auto;
}
.column.floatl {
  float: left;
}
/* HEADER */
header#header {
  width: 100%;
  font-family: 'Roboto';
  margin-bottom: 0;
  overflow: hidden;
}
header#header a h1,
header#header a h2 {
  color: #1a6996;
}
header#header a h1 {
  margin-bottom: 15px;
}
header#header section.sticky-mobile {
  float: right;
}
header#header section.sticky-mobile div.container {
  width: auto;
  margin: 0;
}
header#header nav {
  float: right;
}
header#header nav ul {
  line-height: 80px;
  font-size: 1em;
}
header#header nav ul li {
  padding-bottom: 2px;
}
header#header nav ul li.active {
  color: #1a6996;
  border-bottom: solid 2px;
}
/* FOOTER */
footer#footer {
  width: 100%;
  overflow: hidden;
  font-size: 0.8em;
  padding-top: 40px;
}
section#docs {
  margin-top: 25px;
  padding-top: 40px;
  border-top: solid 2px #f1f1f1;
}
@media all and (max-width: 860px) {
  body div.container {
    width: 720px;
  }
}
@media all and (max-width: 720px) {
  body div.container {
    width: 660px;
  }
}
@media all and (max-width: 660px) {
  body div.container {
    width: 84%;
    margin-top: 0;
  }
  .mobile-only {
    display: block !important;
  }
  header#header {
    margin-top: 80px;
  }
  header#header section.sticky-mobile {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #ffffff;
    border-bottom: solid 2px #f1f1f1;
    z-index: 1;
  }
  header#header section.sticky-mobile div.container {
    width: 84%;
    margin: 0 auto 0 auto;
  }
  header#header section.sticky-mobile nav {
    float: left;
  }
  header#header section.sticky-mobile nav ul {
    line-height: 60px;
  }
  header#header section.sticky-mobile a.btn {
    width: 40px;
    height: 40px;
    float: right;
    line-height: 60px;
    text-align: center;
  }
  section#sidebar {
    min-width: 200px;
    height: 100%;
    padding: 20px;
    border-left: solid 2px #f1f1f1;
    position: fixed;
    top: 0;
    right: -220px;
    background: #ffffff;
    overflow-y: scroll;
    -webkit-transition: right 0.2s ease-in-out;
    -moz-transition: right 0.2s ease-in-out;
    -o-transition: right 0.2s ease-in-out;
    transition: right 0.2s ease-in-out;
  }
  section#sidebar > h2:first-child {
    margin-top: 80px;
  }
  section#sidebar.visible {
    right: 0;
  }
  .column.three-fourth {
    width: 100%;
  }
}
